   body {
       padding-top: 70px;
   }
   /* navbar */
   
   .navbar-default {
       background-color: #25c2e9;
       border-color: #E7E7E7;
   }
   /* title */
   
   .navbar-default .navbar-brand {
       color: #fff;
   }
   
   .navbar-default .navbar-brand:hover,
   .navbar-default .navbar-brand:focus {
       color: #136f86;
   }
   
   #map {
       height: 300px;
   }
   
   .fa {
       font-size: 90px;
       color: #25c2e9;
   }
   
   .fa:hover {
       color: #136f86;
   }
   
   #logo {
       max-height: 48px;
   }